/**
 * AI聊天页面样式
 */

/* 全局样式重置 */
.ant-bubble-content-updating {
  background-image: linear-gradient(90deg, #ff6b23 0%, #af3cb8 31%, #53b6ff 89%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* 提示词样式 */
.ant-prompts-label {
  color: #000000e0 !important;
}

.ant-prompts-desc {
  color: #000000a6 !important;
  width: 100%;
}

.ant-prompts-icon {
  color: #000000a6 !important;
}
